{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Welcome to iCoder. A blog for coding enthusiasts">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Medi-Care</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Medi-Care</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Doctors
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'doc1' %}">Dermatologist</a>
                        <a class="dropdown-item" href="{% url 'doc2' %}">Gynaecologist</a>
                        <a class="dropdown-item" href="{% url 'doc3' %}">Dentist</a>
                        <a class="dropdown-item" href="{% url 'doc4' %}">Family Physician</a>
                        <div class="dropdown-divider"></div>
                    
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="text-center">
        <img src="{% static 'images/d3.jpg'%}" style="width:300px;height:300px;" class="rounded" alt="...">
      </div>
      <figure class="text-center">
        <blockquote class="blockquote">
          <h3>Dr. Vikas Jha</h3>
          <h4>Dentist</h4>
        </blockquote>
        <div class="dropdown show">
             <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Video Call
             </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
               <a class="dropdown-item" href="https://zoom.us/j/7066494837?pwd=dHlsTGxrWVZjNHNMRzNIUi96M3M4UT09">Zoom</a>
               <a class="dropdown-item" href="https://meet.google.com/qsj-nhvo-swu">Google Meet</a>
               <a class="dropdown-item" href="https://join.skype.com/vi0SlXkxy38y">Skype</a>
              </div>
            </div>
                <ul class="nav nav-list">
                  ...
                  <li class="divider"></li>
                  ...
                </ul>
            <div class="dropdown show">
              <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chat
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="https://y99.in/rw/438555">Chat Here</a>
                <a class="dropdown-item" href="https://wa.link/zhw0af">Whatsapp</a>
              </div>
            </div>
                <ul class="nav nav-list">
                  ...
                  <li class="divider"></li>
                  ...
                </ul>
            <a class="btn btn-info" href= "{% url 'payment' %}" role="button">Payment</a>
             <ul class="nav nav-list">
                  ...
                  <li class="divider"></li>
                  ...
                </ul>
            <a class="btn btn-info" href= "https://drive.google.com/drive/folders/1SuqTbkurrvLNFpTD5Qx1OCwzqHpAO7EI?usp=sharing" role="button">Upload Reports</a>
      </figure>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>